<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yomojo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1467560E1C3B8DDC00953768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146756271C3B8DDC00953768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146756321C3B8DDC00953768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14FD085220A53D7600115D80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
